{
    "extends": "@yutengjing/eslint-config-typescript",
    "rules": {
        "import/order": [
            "error",
            {
                "alphabetize": { "order": "asc", "caseInsensitive": true },
                "groups": ["builtin", "external", ["parent", "sibling", "index"]],
                "newlines-between": "always"
            }
        ],
        "security/detect-object-injection": "off"
    }
}
